# Ignore node_modules directory
node_modules

# Ignore .env files that contain sensitive information
*.env

# Ignore log files
*.log

# Ignore npm debug log
npm-debug.log*

# Ignore pids, lock files, and other runtime data
*.pid
*.lock
*.sqlite
*.db
*.log

# Ignore local configuration files
config/local.json
config/local-*
